html, body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  font-size: 16px;
	line-height: 27px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.app-header {}

.app-main {
	flex: 1 0 auto;
}

.app-footer {
	flex: 0 0 auto;
}

// Классы NuxtJS
.page-enter-active,
.page-leave-active {
  transition: opacity .4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
